@mixin Lato{
  font-family: 'Lato', sans-serif ;
}
@mixin Montserrat{
  font-family: 'Montserrat', sans-serif ;
}
@mixin btn{
  border-radius: 40px;
  background-color: #8D81AC;
  border: #8D81AC solid 2px;
  outline: none;
  font-weight: bold;

  cursor: pointer;
  color: #fff;

  &:hover{
    background-color: #fff;
    border: #8D81AC solid 2px;
    color: #8D81AC;
  }
}