@mixin Lato{
  font-family: 'Lato', sans-serif ;
}
@mixin Montserrat{
  font-family: 'Montserrat', sans-serif ;
}
@mixin btn{
  border-radius: 40px;
  background-color: #8D81AC;
  border: none;
  outline: none;
  font-weight: bold;

  color: #fff;

}