

@import "_reset.scss";
@import "_mixins.scss";

@import "./header/_styles.scss";
@import "./app-decription/_styles.scss";
@import "./app-opportunities/_styles.scss";
@import "./user-reviews/_styles.scss";
@import "./prices/_styles.scss";

.container{
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
  margin: 0 auto;

}